{% load static %}
<div id="services" class="our-services section">
  <div class="services-right-dec">
    <img src="{% static 'images/services-right-dec.png' %}" alt="">
  </div>
  <div class="container">
    <div class="services-left-dec">
      <img src="{% static 'images/services-left-dec.png' %}" alt="">
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Brindamos el mejor <em>servicio</em> con nuestras <span>herramientas</span></h2>
          <span>Nuestros servicios</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-carousel owl-services">
          <div class="item">
            <h4>Pagos</h4>
            <div class="icon"><img src="{% static 'images/service-1.svg' %}" alt=""></div>
            <p>Realice los pagos de sus facturas en cualquiera de nuestras sucursales en todo el país.</p>
          </div>
          <div class="item">
            <h4>Remesas</h4>
            <div class="icon"><img src="{% static 'images/service-2.svg' %}" alt=""></div>
            <p>Este servicio les permite a nuestros clientes enviar dinero a cualquier parte del país.</p>
          </div>
          <div class="item">
            <h4>Seguros</h4>
            <div class="icon"><img src="{% static 'images/service-3.svg' %}" alt=""></div>
            <p>Seguro de salud ARS Universal y para automóviles y líneas aliadas (viviendas, robos, incendios, terremotos, entre otras).</p>
          </div>
          <div class="item">
            <h4>Internet Banking</h4>
            <div class="icon"><img src="{% static 'images/service-4.svg' %}" alt=""></div>
            <p>El servicio esta disponible las 24 horas del dia, siete dias a la semana y brinda a los Socios y miembros de la institución la flexibilidad y conveniencia de realizar muchas de sus operaciones financieras sin la necesidad de visitarla.</p>
          </div>
          <div class="item">
            <h4>PINs</h4>
            <div class="icon"><img src="{% static 'images/service-1.svg' %}" alt=""></div>
            <p>Además puede realizar compras de recargas de cualquier monto.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>