{% load static %}
<div id="about" class="pricing-tables">
    <div class="tables-left-dec">
        <img src="{% static 'landingPage/images/tables-left-dec.png' %}" alt="">
    </div>
    <div class="tables-right-dec">
        <img src="{% static 'landingPage/images/tables-right-dec.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>SIRVIENDO SIEMPRE A TU <em>DESARROLLO</em> Y EL DE TU <span>NEGOCIO</span></h2>
                    <br>
                    <p>
                        <b>La Cooperativa de ahorros, créditos y servicios múltiples de familiares y amigos cercanos (COOPFACE), fue creada para satisfacer las necesidades económicas y productivas de la comunidad, al existir dificultad para acceder a un banco por los trámites burocráticos, se requería de una institución confiable donde se pudiera proteger el dinero de las personas.</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="row about">
            <div class="col-lg-4">
                <div class="item first-item">
                    <div class="icon"><img src="{% static 'landingPage/images/mision.svg' %}" alt=""></div>
                    <h4>Mision</h4>
                    <p style="margin-bottom: 11px;">Con buenos servicios y tecnologías; estimular el ahorro entre nuestros afiliados e impulsar su desarrollo a través de programas y proyectos de autosostenibilidad que mejoren la vida familiar, comunitaria y de sus asociados.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item second-item">
                <div class="icon"><img src="{% static 'landingPage/images/vision.svg' %}" alt=""></div>
                <h4>Vision</h4>
                <p style="margin-bottom: 40px;">
                    Ser y prevalecer como el principal centro financiero de carácter social de la región; promotor de liderazgos, hacedor de proyectos y canalizador de soluciones e iniciativas que cambian vidas.
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="item third-item">
                <div class="icon"><img src="{% static 'landingPage/images/valores.svg' %}" alt=""></div>
                <h4>Valores</h4>
                <ul>
                    <li>Eficiencia</li>
                    <li>Transparencia</li>
                    <li>Honestidad</li>
                    <li>Solidaridad</li>
                    <li>Confraternidad</li>
                    <li>Compañerismo</li>
                </ul>
            </div>
        </div>
    </div>
</div>