{% load static %}
<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-image">
                    <img src="{% static 'landingPage/images/about-left-image.png' %}" alt="Two Girls working together">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>SIRVIENDO SIEMPRE A TU <em>DESARROLLO</em> Y EL DE TU <span>NEGOCIO</span></h2>
                    <p>Queremos que tengas todo lo que necesitas, a nivel financiero, cubierto con nosotros. Estamos orientados a brindarte las facilidades y soluciones específicas para diferentes escenarios en los que te puedas encontrar.</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="fact-item">
                                <div class="count-area-content">
                                    <div class="icon">
                                        <img src="{% static 'landingPage/images/service-1.svg' %}" alt="">
                                    </div>
                                    <div class="count-digit">120</div>
                                    <div class="count-title">Provedores</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="fact-item">
                                <div class="count-area-content">
                                    <div class="icon">
                                        <img src="{% static 'landingPage/images/service-2.svg' %}" alt="">
                                    </div>
                                    <div class="count-digit">40</div>
                                    <div class="count-title">Productos</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="fact-item">
                                <div class="count-area-content">
                                    <div class="icon">
                                        <img src="{% static 'landingPage/images/service-3.svg' %}" alt="">
                                    </div>
                                    <div class="count-digit">320</div>
                                    <div class="count-title">Clientes satisfechos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>