{% load static %}
<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="owl-carousel owl-banner">
                            <div class="item header-text">
                                <h6>Bienvenida a COOPFACE</h6>
                                <h2>NUESTRO <em>OBJETIVO</em> ES SER TU <span>SOLUCIÓN</span></h2>
                                <p>Queremos que tengas todo lo que necesitas, a nivel financiero, cubierto con nosotros. Estamos orientados a brindarte las facilidades y soluciones específicas para diferentes escenarios en los que te puedas encontrar.</p>
                                <div class="down-buttons">
                                    <div class="main-blue-button-hover">
                                        <a href="#contact">Envíanos un mensaje ahora</a>
                                    </div>
                                    <div class="call-button">
                                        <a href="#"><i class="fa fa-phone"></i> (809) 803-6964</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item header-text">
                                <h6>Proyecto COOPFACE</h6>
                                <h2>TU <em>BIENESTAR</em> ES NUESTRO PROYECTO <span>MÁS IMPORTANTE</span></h2>
                                <p>Para cada momento del año y los compromisos que estos acarrean, tenemos una solución ideal para ti. </p>
                                <div class="down-buttons">
                                    <div class="main-blue-button-hover">
                                        <a href="#services">Nuestros servicios</a>
                                    </div>
                                    <div class="call-button">
                                        <a href="#"><i class="fa fa-phone"></i> (809) 803-6964</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item header-text">
                                <h6>Catálogo  de Productos</h6>
                                <h2>SIRVIENDO SIEMPRE A TU <em>DESARROLLO</em> Y EL DE TU <span>NEGOCIO</span></h2>
                                <p>Sabemos que tus necesidades son muy específicas, por eso queremos que conozcas nuestro catálogo de productos y descubras que hay uno ideal para ti y tus metas.</p>
                                <div class="down-buttons">
                                    <div class="main-blue-button-hover">
                                        <a href="#video">Nuestros Productos</a>
                                    </div>
                                    <div class="call-button">
                                        <a href="#"><i class="fa fa-phone"></i> (809) 803-6964</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>