{% load static %}
<div id="portfolio" class="our-portfolio section">
  <div class="portfolio-left-dec">
    <img src="{% static 'landingPage/images/portfolio-left-dec.png' %}" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>nuestro <em>catálogo</em> &amp; de <span>productos</span></h2>
          <span>nuestro Productos</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-carousel owl-portfolio">
          <div class="item">
            <div class="thumb">
              <img src="{% static 'landingPage/images/portfolio-01.jpg' %}" alt="">
              <div class="hover-effect">
                <div class="inner-content">
                  <a rel="sponsored" href="#"><h4>LÍNEAS DE CRÉDITO</h4></a>
                  <span>Crédito especial dirigido a los socios que en créditos anteriores hayan mostrado buen comportamiento de pago y las operaciones de sus empresas reflejan un dinámico crecimiento. </span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="{% static 'landingPage/images/portfolio-02.jpg' %}" alt="">
              <div class="hover-effect">
                <div class="inner-content">
                  <a href="#"><h4>PRÉSTAMOS LÍQUIDOS</h4></a>
                  <span>Los créditos líquidos son los que se conceden a los socios que tienen como aval depósitos a plazo y cuentas de ahorro o utilicen los depósitos de otros socios o relacionados para garantizar su crédito.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="{% static 'landingPage/images/portfolio-03.jpg' %}" alt="">
              <div class="hover-effect">
                <div class="inner-content">
                  <a href="#"><h4>PRÉSTAMOS ASOCIATIVOS/INSTITUCIONALES</h4></a>
                  <span>Este tipo de créditos son otorgados a organizaciones sin fines de lucro que por su naturaleza no califican en otras categorías de productos o servicios, y que las bondades de este se utilizarán en beneficio de la misma organización.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumb">
              <img src="{% static 'landingPage/images/portfolio-04.jpg' %}" alt="">
              <div class="hover-effect">
                <div class="inner-content">
                  <a href="#"><h4>PRÉSTAMOS HIPOTECARIOS</h4></a>
                  <span>os créditos hipotecarios son los concedidos a personas físicas para la adquisición, remodelación o ampliación de viviendas, cuya garantía hipotecaria sea el mismo inmueble objeto de la operación. </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>