{% load static %}
  <div id="portfolio" class="our-services section">
    <div class="services-right-dec">
      <img src="{% static 'landingPage/images/services-right-dec.png' %}" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="{% static 'landingPage/images/services-left-dec.png' %}" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Brindamos los mejores <em>préstamos</em> para tus <span>necesidades</span></h2>
            <span>Nuestros préstamos</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-services">
            <div class="item">
              <h4>Préstamo Gerencial</h4>
              <div class="icon"><img src="{% static 'landingPage/images/service-2.svg' %}" alt=""></div>
              <p>
                Es un préstamo que tiene el propósito de facilitar a los socios solventar situaciones de emergencias menudas, su entrega es inmediata y su monto máximo de RD$45,000.00, devenga un interés del 3% mensual.
              </p>
            </div>
            <div class="item">
              <h4>Préstamo Expreso</h4>
              <div class="icon"><img src="{% static 'landingPage/images/service-2.svg' %}" alt=""></div>
              <p>
                Este préstamo es igual o menor al balance del Ahorro Normal, se desembolsa en un plazo máximo de 24 horas y tiene una tasa de interés del 1.25% mensual.
              </p>
            </div>
            <div class="item">
              <h4>Préstamo Normal</h4>
              <div class="icon"><img src="{% static 'landingPage/images/service-2.svg' %}" alt=""></div>
              <p>
                Este préstamo es mayor  que, y hasta tres veces el Ahorro Normal, y se entrega en un  plazo no mayor de treinta días y a un interés del 1.5%.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>